@model IEnumerable<SimpleLibrary.ViewModels.BooksListViewModel>
@{
    ViewData["Title"] = "Books";
}

<h2>Books</h2>

<a href="@Url.Action("Create", "Book")" class="btn btn-success">Create New Book</a>
<table class="table">
    <thead>
    <tr>
        <th>Image</th>
        <th>Book Name</th>
        <th>Author</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model)
    {
        <tr>
            <td><img src="@book.ImagePath" alt="" style="width: 100px;height: 100px"/></td>
            <td>@book.Name</td>
            <td>@book.AuthorName</td>
            <td>
                <a href="@Url.Action("Edit", "Book", new { id = book.Id })" class="btn btn-primary">Edit</a>
                <a href="@Url.Action("Delete", "Book", new { id = book.Id })" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>